@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #151327;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-open-menu {
  background-image: url(../../public/menu.png);
}

.bg-close-menu {
  background-image: url(../../public/icons8-cerrar-ventana-100.png);
}

.shadowPurple {
  transition: ease-in-out 1s;
}

.shadowPurpleBright {
  box-shadow: #db00fd 0px 0px 40px;
  filter: brightness(2);
  transition: ease-in-out 1s;
}

.shadowGreen {
  transition: ease-in-out 1s;
}

.shadowGreenBright {
  box-shadow: #15cf0b 0px 0px 20px;
  filter: brightness(2);
  transition: ease-in-out 1s;
}

.shadowPink {
  transition: ease-in-out 1s;
}

.shadowPinkBright {
  box-shadow: #de10ab 0px 0px 20px;
  filter: brightness(2);
  transition: ease-in-out 1s;
}

.shadowBlue {
  transition: ease-in-out 1s;
}

.shadowBlueBright {
  box-shadow: #0f73d7 0px 0px 20px;
  filter: brightness(2);
  transition: ease-in-out 1s;
}

.textShadow {
  transition: ease-in-out 1s;
}

.textShadowBright {
  text-shadow: 0px 0px 20px;
  filter: brightness(2);
  transition: ease-in-out 1s;
}

.textShadowTitle {
  text-shadow: 0px 0px 10px;
  filter: brightness(2);
  transition: ease-in-out 1s;
}

.shadowImg {
  transition: ease-in-out 1s;
}

.shadowImgBright {
  filter: drop-shadow(0px 0px 10px #00bfff);
  transition: ease-in-out 1s;
}

.iconShadow {
  transition: ease-in-out 1s;
}

.iconShadowBright {
  filter: drop-shadow(0px 0px 20px #a200ff);
  transition: ease-in-out 1s;
}

.hoverTextBlue:hover {
  transition: ease-in-out 0.3s;
  color: #00bfff;
  text-shadow: 0px 0px 20px;
  filter: brightness(2);
}

.hoverTextPink:hover {
  transition: ease-in-out 0.3s;
  color: #ae00ff;
  text-shadow: 0px 0px 20px;
  filter: brightness(2);
}

.hoverTextGreen:hover {
  transition: ease-in-out 0.3s;
  color: #00ff26;
  text-shadow: 0px 0px 20px;
  filter: brightness(2);
}

.hoverText {
  transition: ease-in-out 0.3s;
}