@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #151327;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-open-menu {
  background-image: url(../../public/menu.png);
}

.bg-close-menu {
  background-image: url(../../public/icons8-cerrar-ventana-100.png);
}