@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #151327;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-open-menu {
  background-image: url(../../public/menu.png);
}

.bg-close-menu {
  background-image: url(../../public/icons8-cerrar-ventana-100.png);
}

.shadowPurple {
  box-shadow: #db00fd 0px 0px 40px;
  filter: brightness(2);
}

.shadowGreen {
  box-shadow: #15cf0b 0px 0px 20px;
  filter: brightness(2);
}

.shadowPink {
  box-shadow: #de10ab 0px 0px 20px;
  filter: brightness(2);
}

.shadowBlue {
  box-shadow: #0f73d7 0px 0px 20px;
}

.textShadow {
  text-shadow: 0px 0px 20px;
  filter: brightness(2);
}

.shadowImg {
  filter: drop-shadow(0px 0px 20px #ff0084);
}